<mat-card class="category-card">
  <mat-card-header>
    <mat-card-title>{{category.title}}</mat-card-title>
    <button
      matTooltip="Удалить категорию"
      matTooltipPosition="below"
      class="remove-category-button"
      mat-icon-button
      color="warn"
      (click)="removeCategoryCard(+category.id)"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card-header>
  <mat-selection-list>
    <mat-list-option
      *ngFor="let todo of category.todos"
      [selected]="todo.isCompleted"
      [ngClass]="{completed: todo.isCompleted}"
      (selectedChange)="changeTodoStatus(todo.id, $event)"
    >
      {{todo.text}}
    </mat-list-option>
  </mat-selection-list>
</mat-card>
