:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.category-card {
  width: 300px;
  min-height: 400px;
  margin-top: 20px;
}

.completed {
  text-transform: uppercase;
  text-decoration: line-through;
}
