:host{
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 128px);
}

footer {
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  height: 64px;
  line-height: 64px;
  text-align: center;
}
